<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>COVID-19 Vaccination Tracker</title>
</head>
<body>
    <nav>
     <ul>
         <% if (user) { %>
        <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
</body>
</html>