<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=".assets/js/index.js" defer></script>
    
    <title>COVID-19 Vaccination Tracker</title>
</head>
<body>
    <nav>
        <ul>
            <% if (user) { %>
                <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
       
            <li><a href="/">Home</a></li>
        </ul>
    
</nav>
<header>
    <h1>Login using...</h1>
</header>
<main>
    <form id="signin" action="/signin" method="POST">
        <input id="user" name="user" placeholder="username" type="text"></input>
        <br>
        <input id="pass" name="pass" placeholder="password" type="text"></input>
        <br>
        <button id="submit" type="submit">Sign In</button>
      </form> <br />
    <a class='google-btn' href='/auth/google'>Google+</a>
</main>
</body>
</html>