.vaccineMain {
	border: 2px solid purple;
	background-color: sienna;
	display: flex;
	align-items: center;
	justify-content: center;
}
.vaccineChart {
	border: 8px solid green;
	background-color: yellow;
}
