@import '_colors.scss';

body {
  margin: 0;
  font-family: Oswald;
  background-color: $bg-color;
  min-height: 100vh;
  min-width: 100vw;
}
nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: flex-end;
  height: 50px;

  div {
    padding: 16px;
  }
}
.main-container {
  .view-chart {
    height: 100px;
  }
}

.vaccineMain {
  border: 2px solid purple;
  background-color: #ff9442;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vaccineChart {
  border: 8px solid green;
  background-color: yellow;
}
.search {
  display: flex;
  justify-content: flex-end;
}

h1 {
  text-align: center;
  background-color: #6c868d;
  width: 100%;
  margin: auto;
  padding: 20px;
}

h2 {
  background-color: #6c868d;
  padding: 20px;
  margin: auto;
}
